nav.navegation {
    height: 120px !important;
    background: #887F6E !important;
}

img.brand-logo {
    margin: 29px !important;
}

h6 {
    color: #fe6e19;
    font-weight: 400;
    margin-top: 0px !important;
}

